@keyframes rot {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

#loading {
	z-index: 10;
	background: var(--background-body);
	color: var(--text-main); 
	transition: all 200ms;
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#loading.close {
	opacity: 0;
}

#loading svg {
	width: 72px;
	height: 72px;

	animation: rot 1s infinite;
}