svg.frappe-chart line{
    stroke: #7773 !important; 
}
svg.frappe-chart {
    // margin-left: -30px;
    margin-right: -20px;
}

.ct-label {
    color: currentColor;
    stroke: currentColor;
    fill: currentColor;
}
.ct-grid {
    stroke: currentColor;
}