@import './cindex';

.round {
	border-radius: 10px;
}

.border {
	border: 1px solid var(--agnostic-gray-dark);
}

:root {
	--button-icon-size: 64px;
}

html {
	font-size: calc(15px + 0.25vw);
}

svg {
	height: 1.5em;
	width: 1.5em;
}

a.button {
	display: inline-block;
	padding: .7em;
	border-radius: 10px;
	border: 2px solid
}

* {
	box-sizing: border-box;
}

.grid-r {
	display: grid;
	--cols: 1;
	grid-template-columns: repeat(var(--cols), 1fr);
}

@media (min-width: 36rem) {
	.grid-r {
		--cols: 2;
	}
}

@media (min-width: 56rem) {
	.grid-r {
		--cols: 3;
	}
}

@media (min-width: 72rem) {
	.grid-r {
		--cols: 4;
	}
}

@media (min-width: 92em) {
	.grid-r {
		--cols: 5;
	}
}

.f,
.fr,
.fc,
.frw,
.fcw {
	display: flex;
}

.fr {
	flex-direction: row;
}

.fc {
	flex-direction: column;
}

.frw {
	flex-flow: row wrap;
}

.fcw {
	flex-flow: column wrap;
}

.tac {
	text-align: center;
}



.flex-center {
	display: flex;
	height: 100%;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

ul {
	padding-left: 20px;
}

.grow-c * {
	flex-grow: 1;
}

button.icon {
	position: relative;
	padding: 16px;
}

button.icon.fixed {
	position: fixed;
	margin: 0;
	width: var(--button-icon-size);
	height: var(--button-icon-size);
}

.icon svg {
	display: block;
	width: 100%;
	height: 100%;
}

svg{
	height: 1em;
}

.selectable {
	box-shadow: 0 0 0 4px get-color(primary);
}

.selected {
	box-shadow: 0 0 0 4px get-color(error);
}

.actions {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	bottom: calc(var(--button-icon-size) + 30px);
}
.action {
	margin: 0;
	border-radius: 0;
	width: var(--button-icon-size);
	height: var(--button-icon-size);
}
.action:first-of-type {
	border-top-left-radius: 24px;
}
.action:last-of-type {
	border-bottom-left-radius: 24px;
}