@use "sass:color";
@import "@styles/cindex.scss";

.left,
.right {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
}

.left {
	background: get-color-material(red);
	opacity: 0;
}

.right {
	background: get-color-material(blue);

	left: 50%;
	opacity: 0.03;
}



@media (hover: hover) and (pointer: fine) {

	.left,
	.right {
		opacity: 0;
	}

	.left:hover,
	.right:hover {
		opacity: 0.1;
	}
}