
.test{
	color:red;
}
.icon{
	filter:invert(100%);
}

.container {
	max-width: 300px;
	margin: auto;
	gap: 1em;
}
.round {
	border-radius:10px;
}

.border{
	border: 1px solid var(--agnostic-gray-dark);
}