body{
	padding-bottom: 5em;
}

.edit-button {
	display: none;
	position: absolute;
	top:12px;
	right:12px;
	background: var(--button-base);
	border-radius: 8px;
	padding: 8px;
}
.edit-button:hover {
	background: var(--button-hover);
}

@media print {
	// Don't show edit button when printing the page
	.edit-button {
		display: none;
	}
}

// The edit button gets this class added when
// the user who is viewing the page can edit it.
.visible {
	display: initial;
}