
html {
	font-size: min(calc(15px + 0.4vw), 24px);
}

.when-visible.fade {
	transition: all 3s;
	transition-timing-function: cubic-bezier(0, .8, .8, 1);
	opacity: 0;
}

.when-visible.fade.visible {
	opacity: 1;
}

section {
	margin-block: 30vh;
}